<?xml version="1.0" encoding="ISO-8859-1" ?>

     
<web-app>

	<display-name>Archetype Created Web Application</display-name>

	<!-- <resource-ref>
    	<description>DB Connection Default</description>
    	<res-ref-name>jdbc/SisnewsInternet</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>
    </resource-ref> -->
  
   <!-- 	<resource-ref>    	
    	<res-ref-name>jdbc/SisnewsInternetDS1</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>    	
    </resource-ref> -->
    <!--
    <resource-ref>
    	<description>DB Connection 2</description>
    	<res-ref-name>jdbc/SisnewsInternet2</res-ref-name>
    	<res-type>javax.sql.DataSource</res-type>
    	<res-auth>Container</res-auth>
    </resource-ref> -->
    
	<!-- <filter>
		<filter-name>HelloFilter</filter-name>
		<filter-class>testeservlet.HelloFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>HelloFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	<servlet>
		<servlet-name>HelloWorld</servlet-name>
		<servlet-class>testeservlet.HelloServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>NullExceptionServlet</servlet-name>
		<servlet-class>testeservlet.NullExceptionServlet</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>HtmlUnitTest</servlet-name>
		<servlet-class>testeservlet.HtmlUnitTest</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelloWorld</servlet-name>
		<url-pattern>/HelloWorld</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>NullExceptionServlet</servlet-name>
		<url-pattern>/NullExceptionServlet</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>HtmlUnitTest</servlet-name>
		<url-pattern>/HtmlUnitTest</url-pattern>
	</servlet-mapping>
</web-app>
