<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>TesteCas</display-name>

	<filter>
		<filter-name>CAS Authentication Filter</filter-name>
		<filter-class>org.jasig.cas.client.authentication.Saml11AuthenticationFilter</filter-class>
		<init-param>
			<param-name>casServerLoginUrl</param-name>
			<param-value>https://cas.camara.gov.br/cas/login</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
		<init-param>
			<param-name>renew</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>gateway</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<filter>
		<filter-name>CAS Validation Filter</filter-name>
		<filter-class>org.jasig.cas.client.validation.Saml11TicketValidationFilter</filter-class>
		<init-param>
			<param-name>casServerUrlPrefix</param-name>
			<param-value>https://cas.camara.gov.br/cas/</param-value>
		</init-param>
		<init-param>
			<param-name>serverName</param-name>
			<param-value>http://localhost:8080</param-value>
		</init-param>
		<init-param>
			<param-name>proxyCallbackUrl</param-name>
			<param-value>https://localhost:8080/proxyCallback</param-value>
		</init-param>
		<init-param>
			<param-name>proxyReceptorUrl</param-name>
			<param-value>/proxyCallback</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CAS Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>CAS Validation Filter</filter-name>
		<url-pattern>/proxyCallback</url-pattern>
	</filter-mapping>
	<!-- <filter> <filter-name>HelloWorldApplication</filter-name> <filter-class>org.apache.wicket.protocol.http.WicketFilter</filter-class> 
		<init-param> <param-name>applicationClassName</param-name> <param-value>local.teste.HelloWorldApplication</param-value> 
		</init-param> </filter> <filter-mapping> <filter-name>HelloWorldApplication</filter-name> 
		<url-pattern>/*</url-pattern> </filter-mapping> -->

	<listener>
		<listener-class>sessionmon.SessionListener</listener-class>
	</listener>
	<listener>
		<listener-class>sessionmon.SessionAttributeListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>SessionMonServlet</servlet-name>
		<servlet-class>sessionmon.SessionMonServlet</servlet-class>
		<init-param>
			<param-name>enabled</param-name>
			<param-value>true</param-value>
		</init-param>
		<!-- needed only if you're running a clustered environment -->
		<init-param>
			<param-name>server_node_addresses</param-name>
			<param-value>http://localhost:8080,http://localhost:8081</param-value>
		</init-param>
		<!-- optional configuration -->
		<!--init-param> <param-name>override_path</param-name> <param-value>/foo/blah</param-value> 
			</init-param -->
	</servlet>

	<servlet-mapping>
		<servlet-name>SessionMonServlet</servlet-name>
		<url-pattern>/sessionmon/*</url-pattern>
	</servlet-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>


</web-app>
